::placeholder {
	opacity: 1;
	color: #484848;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
body {
	background: #161616;
	padding: 0px;
}
input {
	font-size: 30pt;
	font-family: sans-serif;
	max-width: 300pt;
	color: #ccc;
	background: #333;
	border-color: #666;
	border-radius: 15pt;
	border-style: solid;
	border-width: 6pt;
	padding-left: 15pt;
	padding-right: 15pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
}
input[type=button]:hover {
	background: #484848;
}
p {
	font-family: sans-serif;
	font-size: 200pt;
	margin: 0pt;
	color: transparent;
  	text-shadow: 0 0 0 #222;
}
@media only screen and (max-width: 1100pt) {
	input {
		font-size: 50pt;
		max-width: 500pt;
		border-radius: 30pt;
		border-width: 10pt;
		padding-left: 30pt;
		padding-right: 30pt;
		padding-top: 17pt;
		padding-bottom: 17pt;
	}
	p {
		font-size: 400pt;
	}
}

